{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
{% endblock %}
	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					HOMESWITCHHOME
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Si querés contactarnos por telefono, llamanos al (+54) 221-455-0303
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>
			<div class="w-size12 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Sobre Nosotros
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contactanos
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQ'S
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Ayuda
						</a>
					</li>
				</ul>
			</div>
		<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">

			<div class="w-size4 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" onclick="cargar()">
							Quiero ser premium
						</button>
				</div>
			</div>
		</div>

			<div class="t-center s-text8 p-t-20">
				HOMESWITCHHOME
			</div>
			<div class="t-center s-text8 p-t-20">
				Copyright © 2019 Todos los derechos reservados.
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>


