{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}


{% block content %}
<header class="header1">
		<div class="wrap_header">
			<!-- Logo -->
			<a href="/listado_residencias" class="logo">
				<img src="{% static 'images/HSH-Logo.svg'%}" alt="IMG-LOGO">
			</a>

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li>
							<a href="index.html"> Residencias</a>
							<ul class="sub_menu">
								<li><a href="{% url 'listado_residencias' %}">Residencias disponibles</a></li>
							</ul>
						</li>
						{% if not user.is_staff %}

						<li class="sale-noti">
							<a data-toggle="modal" data-target="#exampleModal" href="location.reload();"> Sobre Nosostros</a>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Esta funcion esta en etapa de desarrollo...
										</div>
										<div class="modal-footer">
											{% comment %} <button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button> {% endcomment %}
											<button type="button" class="btn btn-primary"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>

						</li>
						</li>

					
						<li>
							<a data-toggle="modal" data-target="#exampleModal" href="location.reload();"> Contáctanos</a>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Esta funcion esta en etapa de desarrollo...
										</div>
										<div class="modal-footer">
											{% comment %} <button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button> {% endcomment %}
											<button type="button" class="btn btn-primary"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
			<!-- Header Icon -->
			<div class="header-icons">
				{% if user.is_authenticated %}
					{% if user.is_staff  %}
					<div>
						<a href="{% url 'agregar' %}">+Agregar Residencia</a>

						<a href="{% url 'switchStaff'%}">Cambiar a user normal</a>
					</div>
					{% else %}
						<a href="{% url 'switchStaff' %}">Cambiar a user staff</a>
				{% endif %}
				{% else %}
				<div>
					<a href="{% url 'login' %}">Loguearme</a>
				</div> 
				<div><a href="{% url 'registrar' %}" style="margin: 10px">Registrarse</a>
</div>				{% endif %}
			</div>
			<div>
				{% if not user.is_authenticated %}
				{% else %}
				<a href="{% url 'logout' %}">Cerrar Sesion</a>
				{% endif %}
			</div>
		</div>
		</div>
  </header>


  <body class="agregar_residencia" style="background-color:LightGrey;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-sm-12 col-lg-5">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <br>
            <h3 class="panel-title">Ingrese sus datos</h3>
            <br>
          </div>
          <div class="panel-body">
            <form method="POST">{% csrf_token %}
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="E-mail" name="email" type="email"
                         autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password"
                         value="">
                </div>

                <button type="submit" class="btn btn-lg btn-dark btn-block">Login</button>
              </fieldset>
            </form>
            {% if error %}
              <p style="color:red"> (*) {{ error.message }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  </body>

{% endblock %}