{% extends 'base.html' %}
{% load staticfiles %}

{% block body%}

<body class="agregar_residencia" style="background-color:LightGrey;">
	<section class="bggrey p-t-66 p-b-60">
		<div class="container">
			<div class="row">

				<div class="col-md-6 p-b-30">
					{% if user.is_staff  %}
					<div class="p-r-20 p-r-0-lg">
						<div class="form-group">
							<label for="formGroupExampleInput" style="margin-top: 150px;">Precio: </label>
							<input id="input_premium" readonly class="form-control readonly-premium" type="number" min="0" class="form-control" name="nombre"
								value={{premium.precio}} value_ant={{premium.precio}}>
						</div>
						<div class="contact-map size2"> <button id="premium" onclick="modificar_premium()"
								class="btn btn-lg btn-dark btn-block"> Modificar Precio Premium</button></div>
						<button id="cancelar_premium" style="display: none; margin-top:3px;" type=""
								class="btn btn-lg btn-warning btn-block">Cancelar</button>
						<div class="form-group">
							<label for="formGroupExampleInput" style="margin-top: 150px;">Precio: </label>
							<input id="input_basico" readonly class="form-control readonly-basico" type="number" min="0" class="form-control" name="nombre"
								value={{basico.precio}} value_ant={{basico.precio}}></input>
						</div>
						<div class="contact-map size2"> <button id="basico"  onclick="modificar_basico()"
								class="btn btn-lg btn-dark btn-block"> Modificar Precio Basico</button></div>
						<button id="cancelar_basico" style="display: none; margin-top:3px;" type=""
								class="btn btn-lg btn-warning btn-block">Cancelar</button>
					</div>
				</div>
				
				{% else %}
				<div style="margin-top: 100px" class="panel-heading">
                <h4 class="panel-title" align="center">Datos de tarjeta de credito </h4>
                </div>
                <br>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-9">
                    <input id="tarjeta" class="form-control  readonly-tarjeta" placeholder="Numero de Tarjeta" type="number" min="0" name="numero_tarjeta" 
                           value="{{user.num_tarjeta_credito}}" ant="{{user.num_tarjeta_credito}}" readonly>
                  </div>
                  <div class="form-group col-md-3">
                    <input id="marca" class="form-control readonly-tarjeta" placeholder="Marca" type="text" name="cardBrand"
                           value="{{user.marca_tajeta}}" ant="{{user.marca_tajeta}}" readonly>
                  </div>
                
                  <div class="form-group col-md-6">
                    <input id="vencimiento" class="form-control readonly-tarjeta" placeholder="Fecha de vencimiento" type="" name="fecha_vencimiento"
                         value="{{user.fecha_vencimiento_tarjeta}}" ant="{{user.fecha_vencimiento_tarjeta}}"  readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="codigo-seguridad" class="form-control readonly-tarjeta" placeholder="Codigo de seguridad" type="" name="securityCode" 
                        value="{{user.codigo_seguridad_tarjeta}}"  ant="{{user.codigo_seguridad_tarjeta}}" readonly>
                  </div> 
                  <div class="form-group col-md-12">
                  <input id="titular" class="form-control readonly-tarjeta" placeholder="Nombre del titular" name="nombre_tarjeta" 
                  value="{{user.nombre_titular_tarjeta}}" ant="{{user.nombre_titular_tarjeta}}" readonly>
                </div>
                </div>
				<button id="confirmar_tarjeta" style="" type="" onclick="admitir_editar_tarjeta()"
								class="btn btn-lg btn-dark btn-block">Modificar Datos de la Tarjeta</button>
						<button id="cancelar_tarjeta" style="display: none; margin-top: 5px;" onclick="cancelar_editar_tarjeta()"
							class="btn btn-lg btn-warning btn-block"> Cancelar</button>

				<br></br>

            	<div  class="form-row">
				<div class="form-group col-md-6">
                    <input id="contraseña" class="form-control readonly-contraseña" placeholder="Contraseña" type="password" name="fecha_vencimiento"
                         value="111111111111"  readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="confirmarContraseña" class="form-control readonly-contraseña" placeholder="Contraseña" type="password" name="securityCode" 
                        value="111111111111"   readonly>
                  </div> 
				</div>
				<button id="confirmar_contraseña" style="" type="" onclick="admitir_editar_contraseña()"
								class="btn btn-lg btn-dark btn-block">Modificar Contraseña</button>
						<button id="cancelar_contraseña" style="display: none; margin-top: 5px;" onclick="cancelar_editar_contraseña()"
							class="btn btn-lg btn-warning btn-block"> Cancelar</button>
				
				</div>
				{% endif %}



				<div class="col-sm-6 col-lg-6">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<br>
							<h3 class="panel-title" align="center">Mi Perfil</h3>
							<br>
						</div>
							<div class="form-group">
								<label for="formGroupExampleInput">Nombre: </label>
								<input id="nombre" readonly class="form-control readonly" type="text" class="form-control"
									name="nombre" value="{{user.nombre}}" ant="{{user.nombre}}">
							</div>
							<div class="form-group">
								<label for="formGroupExampleInput2">Apellido: </label>
								<input id="apellido" readonly class="form-control readonly" type="text" min="0" class="form-control"
									name="apellido" value="{{user.apellido}}" ant="{{user.apellido}}">
							</div>
							<div class="form-group">
								<label for="formGroupExampleInput">DNI: </label>
								<input id="dni" readonly class="form-control readonly" type="number" min="1" class="form-control"
									name="dni" value="{{user.dni}}" ant="{{user.dni}}">
										<small id="passwordHelpBlock" class="form-text text-muted">
									Solo se admiten valores numericos.
								</small>
							</div>
							<div class="form-group">
								<label for="formGroupExampleInput">Fecha de nacimiento: </label>
								<input id="fn" readonly class="form-control readonly" type="date" class="form-control" name="fn"
									value="{{año}}-{{mes}}-{{dia}}" ant="{{año}}-{{mes}}-{{dia}}">
							</div>
							<div class="form-group">
								<label for="formGroupExampleInput">E-Mail: </label>
								<input id="email" readonly class="form-control readonly" type="email" class="form-control"
									name="email" value="{{ user.email}}" ant="{{ user.email}}">
							</div>
						<button id="confirmar" style="" type="" onclick="admitir_editar()"
								class="btn btn-lg btn-dark btn-block">Modificar Perfil</button>
						<button id="cancelar" style="display: none; margin-top: 5px;" onclick="cancelar_editar()"
							class="btn btn-lg btn-warning btn-block"> Cancelar</button>
							            	<div  class="form-row">
				<br></br>
				{% if request.user.is_staff %}
				<div style="margin-top: 50px " class="form-group col-md-6">
                    <input id="contraseña" class="form-control readonly-contraseña" placeholder="Contraseña" type="password" name="fecha_vencimiento"
                         value="111111111111"  readonly>
                  </div>
                  <div style="margin-top: 50px " class="form-group col-md-6">
                    <input id="confirmarContraseña" class="form-control readonly-contraseña" placeholder="Contraseña" type="password" name="securityCode" 
                        value="111111111111"   readonly>
                  </div> 
				</div>
				<button id="confirmar_contraseña" style="" type="" onclick="admitir_editar_contraseña()"
								class="btn btn-lg btn-dark btn-block">Modificar Contraseña</button>
						<button id="cancelar_contraseña" style="display: none; margin-top: 5px;" onclick="cancelar_editar_contraseña()"
							class="btn btn-lg btn-warning btn-block"> Cancelar</button>
				
				</div>
				{% endif %}
					</div>
				</div>
			</div>


		</div>
		</div>
		<br>
	</section>
	{% if user.is_staff %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css" />
	<div class="container bg6  p-t-35 p-b-80">
	<table id="tableid" class="display">
		<thead>
			<tr>
				<th>Listado de Clientes</th>
				<th><th>
					<th></th>
			</tr>
		</thead>
		<tbody>		
			{% for cliente in clientes %}
			<tr>
				<td id="cliente{{cliente.id}}" value="">{{cliente.email}}  -  {% if not cliente.is_premium %}Plan Basico {% else %}<img style="display:block;" src="{% static 'images/coronita.png' %}" align="left" witdh=20px height=20px"/> Plan Premium {% endif %}</td>
				<td>
								{% if not cliente.is_premium %}
				<button id="cambiar_premium{{cliente.id}}" onclick="cambiar_a_premium('{{cliente.id}}','{{cliente.email}}')" class="flex-c-m size1 bg1 bo-rad-23 hov1 s-text1 trans-0-4">
				Cambiar a Plan Premium</button>
				<button id="cambiar_basico{{cliente.id}}" style="display: none;" onclick="cambiar_a_basico('{{cliente.id}}','{{cliente.email}}')" class="flex-c-m size1 bg1 bo-rad-23 hov1 s-text1 trans-0-4">
				Cambiar a Plan Basico</button>
				{% else %}
				<button id="cambiar_premium{{cliente.id}}" style="display: none;" onclick="cambiar_a_premium('{{cliente.id}}','{{cliente.email}}')" class="flex-c-m size1 bg1 bo-rad-23 hov1 s-text1 trans-0-4">
				Cambiar a Plan Premium</button>
				<button id="cambiar_basico{{cliente.id}}" onclick="cambiar_a_basico('{{cliente.id}}','{{cliente.email}}')" class="flex-c-m size1 bg1 bo-rad-23 hov1 s-text1 trans-0-4">
				Cambiar a Plan Basico</button>
				

				{% endif %}
				<td>
				<td>
				<button data-toggle="modal" data-target="#modal_cliente" class="flex-c-m size1 bg1 bo-rad-23 hov1 s-text1 trans-0-4" onclick="mostrar_datos_cliente('{{cliente.id}}')">
				Ver Datos</button>
								<div class="modal fade" id="modal_cliente" tabindex="2" role="dialog" display: block;
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Datos del cliente</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body" id="texto_cliente">
										 Nombre: {{cliente.nombre}} <br>
										 Apellido: {{cliente.apellido}} <br>
										 E-Mail: {{cliente.email}} <br>
										 DNI: {{cliente.dni}} <br>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-dark"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</body>
{% endif %}

	{% if not user.is_staff %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css" />
	<div class="container bg6  p-t-35 p-b-80">
	<table id="tableid" class="display">
		<thead>
			<tr>
				<th>Mis Reservas</th>
				<th><th>
			</tr>
		</thead>
		<tbody>		
			{% for reserva in reservas %}
			<tr>
				<td id="reserva{{reserva.id}}" value="">Residencia: {{reserva.residenciaQuePertence}} -  Fecha: {{reserva.semana_del_año}}</td>
				<td>
				<td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</body>




{% endif %}

{% endblock %}
{% block jsmas %}



<script src="{% static 'js/jquery-3.4.1.js' %}"></script>

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>




<script>

function admitir_editar_contraseña() {
		if ($(".readonly-contraseña").attr("readonly") === "readonly") {
			$(".readonly-contraseña").attr("readonly", false)
			$("#confirmar_contraseña").text("Confirmar")
			$("#cancelar_contraseña").show();
		} else {
			console.log($("#dni").val());
			$.ajax({
				type: "POST",
				headers: {
					'X-CSRFToken': '{{ csrf_token }}'
				},
				url: "{% url 'modificar_contraseña' %}",
				data:  {
					'contraseña': $("#contraseña").val(), 
					'confirmar': $("#confirmarContraseña").val(), 
					},
				success: function (response) {
					if (response['ok']=='ok'){
						alert("La contraseña se actualizo correctamente")
						$(location).attr('href',"{% url 'login' %}")
					}

					else{
						alert("Error: "+ response['ok'])
					}
				}
			});
			$(".readonly-contraseña").attr("readonly", true)
			$("#confirmar_contraseña").text("Modificar Contraseña");
			$("#cancelar_contraseña").hide()

		}
	}


function admitir_editar_tarjeta() {
		if ($(".readonly-tarjeta").attr("readonly") === "readonly") {
			$(".readonly-tarjeta").attr("readonly", false)
			$("#confirmar_tarjeta").text("Confirmar")
			$("#cancelar_tarjeta").show();
		} else {
			if(($("#tarjeta").val()).length > 15){
				if (($("#codigo-seguridad").val() > 100) && ($("#codigo-seguridad").val() <1000)){
					$.ajax({
						type: "POST",
						headers: {
							'X-CSRFToken': '{{ csrf_token }}'
						},
						url: "{% url 'modificar_tarjeta' %}",
						data:  {
							'tarjeta': $("#tarjeta").val(), 
							'marca': $("#marca").val(), 
							'vencimiento': $("#vencimiento").val(), 
							'codigo-seguridad': $("#codigo-seguridad").val(), 
							'titular': $("#titular").val() 
							},
						success: function (response) {
							$(".readonly-tarjeta").attr("readonly", true)
							$("#confirmar_tarjeta").text("Modificar Datos de la Tarjeta");
							$("#cancelar_tarjeta").hide();
							if (response['ok']=='ok'){
								alert("Los datos de la Tarjeta se actualizaron correctamente")
							}
							else{
								alert("Error: "+ response['ok'])
								admitir_editar_tarjeta();
							}
						}
					});
				}
				else {
					alert("Ingrese un codigo de seguridad valido")
				}
			} else{
				alert("Ingrese una tarjeta valida")
			}

		}
	}


function admitir_editar() {
		if ($(".readonly").attr("readonly") === "readonly") {
			$(".readonly").attr("readonly", false)
			$("#confirmar").text("Confirmar")
			$("#cancelar").show();
		} else {
			if ($("#dni").val() > 0){
			console.log($("#dni").val());
			$.ajax({
				type: "POST",
				headers: {
					'X-CSRFToken': '{{ csrf_token }}'
				},
				url: "{% url 'modificar_perfil' %}",
				data:  {
					'nombre': $("#nombre").val(), 
					'apellido': $("#apellido").val(), 
					'dni': $("#dni").val(), 
					'fechanacimiento': $("#fn").val(), 
					'email': $("#email").val() 
					},
				success: function (response) {
					$(".readonly").attr("readonly", true)
					$("#confirmar").text("Modificar Perfil");
					$("#cancelar").hide();
					if (response['ok']=='ok'){
						alert("Los datos se actualizaron correctamente")
					}
					else{
						alert("Error: "+ response['ok']);
						admitir_editar();
					}
				}
			});
		}
		}
	}
	function cambiar_a_basico(id,email) {
		var vf= confirm("Seguro que queres pasar a Plan Basico a "+ email+ " ?");
		if (vf){
		$.ajax({
			type: "POST",
			url: "{% url 'cambiar_a_basico' %}",
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			data: {'id_cliente' : id},
			success: function (response) {
				$("#cliente"+id).text(email + " - Plan Basico");
				$("#cambiar_basico"+id).hide();
				$("#cambiar_premium"+id).show();
				
				
			}
		});
		}

	}


		function cambiar_a_premium(id,email) {
		var vf= confirm("Seguro que queres pasar a Plan Premium a "+ email+ " ?");
		if (vf){
		$.ajax({
			type: "POST",
			url: "{% url 'cambiar_a_premium' %}",
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			data: {'id_cliente' : id},
			success: function (response) {
				$("#cliente"+id).text(email + " - Plan Premium");
				$("#cambiar_premium"+id).hide();
				$("#cambiar_basico"+id).show();
				location.reload();
			}

		});
		}

	}



	$(document).ready(function () {
		$.noConflict();
		var table = $('#tableid').DataTable({
			"language": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			}
		});
		
	});

function cancelar_editar(){
			$("#nombre").val($("#nombre").attr('ant'));
			$("#apellido").val($("#apellido").attr('ant'))
			$("#dni").val( $("#dni").attr('ant'))
			$("#fn").val( $("#fn").attr('ant'))
			$("#email").val($("#email").attr('ant'))

			$(".readonly").attr("readonly", true)
			$("#confirmar").text("Modificar Perfil");
			$("#cancelar").hide()
}
function cancelar_editar_tarjeta(){
			$("#tarjeta").val($("#tarjeta").attr('ant'));
			$("#marca").val($("#marca").attr('ant'))
			$("#vencimiento").val( $("#vencimiento").attr('ant'))
			$("#codigo-seguridad").val( $("#codigo-seguridad").attr('ant'))
			$("#titular").val($("#titular").attr('ant'))

			$(".readonly-tarjeta").attr("readonly", true)
			$("#confirmar_tarjeta").text("Modificar Datos de la Tarjeta");
			$("#cancelar_tarjeta").hide()
}

function cancelar_editar_contraseña(){
			$(".readonly-contraseña").attr("readonly", true)
			$("#confirmar_contraseña").text("Modificar Contraseña");
			$("#cancelar_contraseña").hide()
}



function modificar_basico() {
		if ($(".readonly-basico").attr("readonly") === "readonly") {
			$(".readonly-basico").attr("readonly", false)
			$("#basico").text("Confirmar");
			$("#cancelar_basico").show()
		} else {
			$(".readonly-basico").attr("readonly", true);
			var data= { 'precio': $("#input_basico").val() };
			console.log(data)
			$.ajax({
				type: "POST",
				headers: {
					'X-CSRFToken': '{{ csrf_token }}'
				},
				url: "{% url 'modificar_basico' %}",
				data: data,
				success: function (response) {
				}
			});
			
			$("#basico").text("Modificar Precio Basico");
			$("#cancelar_basico").hide();

		}
	}


function modificar_premium() {
		if ($(".readonly-premium").attr("readonly") === "readonly") {
			$(".readonly-premium").attr("readonly", false)
			$("#premium").text("Confirmar");
			$("#cancelar_premium").show()
		} else {
			$(".readonly-premium").attr("readonly", true);
			var data= { 'precio': $("#input_premium").val() }
			$.ajax({
				type: "POST",
				headers: {
					'X-CSRFToken': '{{ csrf_token }}'
				},
				url: "{% url 'modificar_premium' %}",
				data: data,
				success: function (response) {
				}
			});
			
			$("#premium").text("Modificar Precio Premium");
			$("#cancelar_premium").hide();

		}
	}

	function mostrar_datos_cliente(id) {
		$.ajax({
			type: "POST",
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			url: "{% url 'get_datos_cliente' %}",
			data: {
				'id_cliente': id
			},
			success: function (response) {
				$("#texto_cliente").text(' ')
				$("#texto_cliente").append('<strong>E-Mail</strong>:' + response.email);
				$("#texto_cliente").append('<br> <strong>Nombre</strong>:'+response.nombre);
				$("#texto_cliente").append('<br> <strong>Apellido</strong>:'+response.apellido);
				$("#texto_cliente").append('<br> <strong>DNI</strong>:'+response.dni);
			}
		});
	}

</script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/bootstrap/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/select2/select2.min.js' %}"></script>
<script type="text/javascript">
	$(".selection-1").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});

	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect2')
	});
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/daterangepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript">
	$('.block2-btn-addcart').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to cart !", "success");
		});
	});

	$('.block2-btn-addwishlist').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");
		});
	});

$(document).ready(function () {
		$("#cancelar_premium").click(function (e) { 
			$("#input_premium").val($("#input_premium").attr('value_ant'));
			$("#cancelar_premium").hide()
			$(".readonly-premium").attr("readonly", true);
			$("#premium").text("Modificar Precio Premium");
		
		});

		$("#cancelar_basico").click(function (e) { 
			$("#input_basico").val($("#input_basico").attr('value_ant'));
			$("#cancelar_basico").hide()
			$(".readonly-basico").attr("readonly", true);
			$("#basico").text("Modificar Precio Basico");
		
		});



});

</script>

<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/noui/nouislider.min.js' %}"></script>
<script type="text/javascript">
	/*[ No ui ]
	    ===========================================================*/
	var filterBar = document.getElementById('filter-bar');

	noUiSlider.create(filterBar, {
		start: [50, 200],
		connect: true,
		range: {
			'min': 50,
			'max': 200
		}
	});

	var skipValues = [
		document.getElementById('value-lower'),
		document.getElementById('value-upper')
	];

	filterBar.noUiSlider.on('update', function (values, handle) {
		skipValues[handle].innerHTML = Math.round(values[handle]);
	});
</script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>

{% endblock %}