{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<form action='.' method='POST'>{% csrf_token %}
  
    <h1>Seguro desea eliminar "{{ instance.nombre }}"?</h1>
    <br><br/>
    <p> <input type='submit' class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" style="width:10%" value='Eliminar' /> 
    <br><br/>
    <a href="{% url 'listado_residencias' %}" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" style="width:10%" >Cancelar</a></p>
    

</form>




{% endblock %}