{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}

{% endblock %}
{% block body %}


<!-- Header cart noti -->
<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
	<div class="flex-w flex-sb">
		<div class="w-size13 p-t-30 respon5">
			<div class="wrap-slick3 flex-sb flex-w">
				<div class="wrap-slick3-dots"></div>

				<div class="slick3">
					<div class="item-slick3"
						data-thumb="https://images.adsttc.com/media/images/5733/92ba/e58e/cee8/0800/004f/slideshow/02.jpg?1462997678">
						<div class="wrap-pic-w">
							<img src="{{residencia.imagen}}" alt="IMG-PRODUCT">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w-size14 p-t-30 respon5">
			<h4 class="product-detail-name m-text16 p-b-13">
				{{residencia.nombre}}
			</h4>

			<span class="m-text10">
				Capacidad: {{residencia.capacidad}} Personas
			</span>

			<p class="s-text8 p-t-10">
				Direccion: {{residencia.direccion}} , {{residencia.localidad}}
			</p>

			<h3 class="product-detail-name m-text16 p-b-13">
				Descripcion: {{residencia.descripcion}}
			</h3>

			<!--  -->
			<div class="p-t-33 p-b-60">
				{% comment %} <div class="flex-m flex-w p-b-10">
					<div class="s-text15 w-size15 t-center">
						Semanas disponibles
					</div>

					<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
						<select class="selection-2" name="size">
							<option>Choose an option</option>
							<option>Semana 1</option>
							<option>Semana 2</option>
							<option>Semana 3</option>
							<option>Semana 4</option>
						</select>
					</div>
				</div> {% endcomment %}
				<div class="flex-r-m flex-w p-t-10">

					<div class="size9 trans-0-4 m-t-10 m-b-10">
						<!-- Button -->

					</div>
					{% if request.user.is_staff %}
					<div class="size9 trans-0-4 m-t-10 m-b-10">
						<!-- Button -->
						<a href="{% url 'modificarResidencia' residencia.auto_id %}"
							class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">Modificar</a>
					</div>
					<div class="size9 trans-0-4 m-t-10 m-b-10">
						<!-- Button -->
						<a href="{% url 'eliminarResidencia' residencia.auto_id %}"
							onclick="return confirm('Seguro que queres eliminar esta residencia?');"
							class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">Eliminar</a>
					</div>
					{% endif %}
				</div>
			</div>


			<!--  -->
			{% comment %} <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
				<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
					Description
					<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
					<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
				</h5>

				<div class="dropdown-content dis-none p-t-15 p-b-23">
					<p class="s-text8">
						Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed
						velit. Proin gravida arcu nisl, a dignissim mauris placerat
					</p>
				</div>
			</div>

			<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
				<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
					Additional information
					<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
					<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
				</h5>

				<div class="dropdown-content dis-none p-t-15 p-b-23">
					<p class="s-text8">
						Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed
						velit. Proin gravida arcu nisl, a dignissim mauris placerat
					</p>
				</div>
			</div>

			<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
				<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
					Reviews (0)
					<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
					<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
				</h5>

				<div class="dropdown-content dis-none p-t-15 p-b-23">
					<p class="s-text8">
						Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed
						velit. Proin gravida arcu nisl, a dignissim mauris placerat
					</p>
				</div>
			</div>
		</div> {% endcomment %}
	</div>

</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css" />
<div class="container bgwhite p-t-35 p-b-80">
	<table id="tableid" class="display">
		<thead>
			<tr>
				<th>Semanas Disponibles</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<script>
				var montoVar;

				function monto() {
					montoVar = prompt('ingresa monto a pujar para la semana del {{fecha.1 }}');
					document.getElementById('monto').innerHTML = montoVar;
					localStorage.setItem("monto", montoVar);
				}
			</script>
		
			{% for fecha in fechas %}
			<tr>
				<td id="{{fecha.0 }}" value="{{fecha.1}}">Semana de {{ fecha.1 }} {% if not fecha.2%} {% if not fecha.2 %} - Reservada {% else %}{% if fecha.3%} - En Subasta {% endif %} {% endif %} {% endif %}</td>
				{% if request.user.is_authenticated %}
				<td>
					{% if request.user.is_staff %}
						{% if fecha.2 %}
					<button id="subastar_semana{{ fecha.0 }}"
						onclick="myFunction({{fecha.0}})" value="{{fecha.1}}"
						class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">Subastar esta semana</button>
					{% endif %}
					{% else %}
					{% if not fecha.2 and not fecha.4 and fecha.3%}
					<a href="{% url 'subasta' fecha.3.id %}" {% comment %}
						onclick="document.getElementById('answer').value=monto();" {% endcomment %}
						class="flex-c-m size1 bg1 bo-rad-23 hov1 s-text1 trans-0-4">Pujar en esta semana</a>
					{% else %}
					{% if fecha.2 and request.user.is_premium %}
					<button id="boton_reserva{{fecha.0}}"
						onclick="reservar_semana({{fecha.0}})" value="{{ fecha.1}}"
						class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">Reservar esta semana</button>

					{% endif %}
					{% endif %}
					{% endif %}
				</td>
				{% endif %}
			</tr>
			{% endfor %}
			<p id='monto'></p>
		</tbody>
	</table>
</div>

<!-- Relate Product -->
<section class="relateproduct bgwhite p-t-45 p-b-138">
	<div class="container">
		<div class="sec-title p-b-60">
			<h3 class="m-text5 t-center">
				Related Products
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">

				{% for prod in related_products %}
				<div class="item-slick2 p-l-15 p-r-15">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
							<img src="https://images.adsttc.com/media/images/5733/92ba/e58e/cee8/0800/004f/slideshow/02.jpg?1462997678"
								alt="IMG-PRODUCT">

							<div class="block2-overlay trans-0-4">
								<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
									<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
									<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
								</a>

								<div class="block2-btn-addcart w-size1 trans-0-4">
									<!-- Button -->
									<button id={} class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										<a href="{% url 'product' prod.auto_id %}"
											class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Ver Mas
										</a>

									</button>
								</div>
							</div>
						</div>

						<div class="block2-txt p-t-20">
							<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
								{{ prod.nombre }}
							</a>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>

</section>
</div>
{% endblock %}

{% block jsmas %}
<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>



<script>
	$(document).ready(function () {
		$.noConflict();
		var table = $('#tableid').DataTable({

			"ordering": false
		});
	});



</script>

	<script>
			function reservar_semana(id){
					var vf = confirm("¿Seguro que quiere reservar la semana del "+ $("#"+id).attr('value')+"?")
					if (vf){
					$.ajax({
						type: "POST",
						headers: {'X-CSRFToken': '{{ csrf_token }}'},
						url: "{% url 'reservar_residencia' %}",
						data: {'id_reserva': id},
						success: function (response) {
							console.log("hola")
							if(response['ok'] =='ok'){
								alert("La Semana fue reservada correctamente!")
								$("#boton_reserva"+id).hide();
								$("#"+id).text("Semana de "+ $("#"+id).attr('value') +" - Reservada")
							}
							else{
								if(response['ok']=='semanas'){
									alert("No tenés mas semanas disponibles!")
								}
								else{
									alert("Tenes la semana seleccionada ocupada con otra reserva!")
								}
							}
						}
					});

				}

			}
  
			function myFunction(id) {
  			var monto = prompt("¿Seguro que queres subastar la semana del "+$("#"+id).attr('value')+"? Ingresa el monto minimo", "0");	
  			if (monto == null || monto == "") {
				 	alert("Ingrese algun valor para el monto")
  				} else {
						  var data={ "monto": monto,"auto_id": id  }
						$.ajax({
							type: "POST",
							headers: {'X-CSRFToken': '{{ csrf_token }}'},
							url: "{% url 'publicarSubasta' %}",
							data: data,
							success: function (response) {
								
								$("#"+id).text("Semana del "+ $("#"+id).attr('value') + " - En Subasta");
								$("#subastar_semana"+id).hide();
								alert("Subasta publicada con exito!")
							}
						});
  				}
			}
			</script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/bootstrap/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/select2/select2.min.js' %}"></script>
<script type="text/javascript">
	$(".selection-1").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});

	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect2')
	});
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{% static 'css/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript">
	$('.block2-btn-addcart').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to cart !", "success");
		});
	});

	$('.block2-btn-addwishlist').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");
		});
	});

	$('.btn-addcart-product-detail').each(function () {
		var nameProduct = $('.product-detail-name').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");
		});
	});
</script>

<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
{% endblock %}