
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}SignIn{% endblock %}

{% block content %}

<head>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>
  

</head>
<header class="header1">
		<div class="wrap_header">
			<!-- Logo -->
			<a href="/listado_residencias" class="logo">
				<img src="{% static 'images/HSH-Logo.svg'%}" alt="IMG-LOGO">
			</a>

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li>
							<a href="index.html"> Residencias</a>
							<ul class="sub_menu">
								<li><a href="{% url 'listado_residencias' %}">Residencias disponibles</a></li>
							</ul>
						</li>
						{% if not user.is_staff %}

						<li class="sale-noti">
							<a data-toggle="modal" data-target="#exampleModal" href="location.reload();"> Sobre Nosostros</a>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Esta funcion esta en etapa de desarrollo...
										</div>
										<div class="modal-footer">
											{% comment %} <button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button> {% endcomment %}
											<button type="button" class="btn btn-primary"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>

						</li>
						</li>

					
						<li>
							<a data-toggle="modal" data-target="#exampleModal" href="location.reload();"> Contáctanos</a>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Esta funcion esta en etapa de desarrollo...
										</div>
										<div class="modal-footer">
											{% comment %} <button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button> {% endcomment %}
											<button type="button" class="btn btn-primary"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>

						</li>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
			<!-- Header Icon -->
			<div class="header-icons">
				{% if user.is_authenticated %}
					{% if user.is_staff  %}
					<div>
						<a href="{% url 'agregar' %}">+Agregar Residencia</a>

						<a href="{% url 'switchStaff'%}">Cambiar a user normal</a>
					</div>
					{% else %}
						<a href="{% url 'switchStaff' %}">Cambiar a user staff</a>
				{% endif %}
				{% else %}
				<div>
					<a href="{% url 'login' %}">Loguearme</a>
				</div> 
				<div><a href="{% url 'registrar' %}" style="margin: 10px">Registrarse</a>
</div>				{% endif %}
			</div>
			<div>
				{% if not user.is_authenticated %}
				{% else %}
				<a href="{% url 'logout' %}">Cerrar Sesion</a>
				{% endif %}
			</div>
		</div>
		</div>
  </header>




<body class="agregar_residencia" style="background-color:LightGrey;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-sm-12 col-lg-5">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" align="center">Ingrese sus datos</h3>
          </div>
          <br></br>
          <div class="panel-body">
            <form class="leave-comment" id="formulario" method="POST" action="{% url 'registrar' %}" >{% csrf_token %}
              <fieldset>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="nombre" class="form-control" placeholder="Nombre" type="text" name="firstName" value={{usuario.nombre}}
                           >
                  </div>
                  <div class="form-group col-md-6">
                    <input id="apellido" class="form-control" placeholder="Apellido" type="text" name="lastName" value={{usuario.apellido}}
                           >
                  </div>
                </div>
                <div class="form-group">
                  <input id="email" class="form-control" placeholder="E-mail" name="email" type="email" value={{usuario.email}}
                         >
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input id="dni" class="form-control" placeholder="DNI" min="1" name="dni" type="Number" value={{usuario.dni}} >
                  </div>
                  <div class="form-group col-md-6">
                    <input id="dob" class="form-control" placeholder="Fecha de nacimiento" type="text"
                         name="birthDay" value={{usuario.fecha_nacimiento}} > 
                </div>
                <div class="form-group col-md-6">
                  <input id="id_password" class="form-control" placeholder="Contrase&ntilde;a" name="password"
                         type="password" pattern=".{8,}" title="Minimo 8 caracteres">
                </div>
                <div class="form-group col-md-6">
                  <input id="id_confirmPassword" class="form-control" placeholder="Confirmar contrase&ntilde;a"
                         name="confirmPassword" type="password" >
                </div>
                <br>
                <div class="panel-heading">
                <h4 class="panel-title" align="center"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Datos de tarjeta de credito </h4>
                </div>
                <br>
                <br>
                <div class="form-row">
                  <div class="form-group col-md-9">
                    <input id="id_cardNumber" class="form-control" placeholder="Numero de Tarjeta" type="number" min="0" name="numero_tarjeta" value={{usuario.num_tarjeta_credito}}
                           >
                  </div>
                  <div class="form-group col-md-3">
                    <input id="marca_tarjeta" class="form-control" placeholder="Marca" type="text" name="cardBrand" value={{usuario.marca_tarjeta}}
                           >
                  </div>
                
                  <div class="form-group col-md-6">
                    <input id="id_vencimiento" class="form-control" placeholder="MMAA" type="number" min="0" name="fecha_vencimiento" value={{usuario.fecha_vencimiento_tarjeta}}
                           >
                  </div>
                  <div class="form-group col-md-6">
                    <input id="id_securityCode" class="form-control" placeholder="Codigo de seguridad" type="number" maxlength="3" minlength="3" name="securityCode" value={{usuario.codigo_seguridad_tarjeta}}
                           >
                  </div> 
                  <div class="form-group col-md-12">
                  <input id="nom_tit_tarjeta" class="form-control" placeholder="Nombre del titular" name="nombre_tarjeta" type="" value={{usuario.nom_titular_tarjeta}}
                  >
                </div>
                </div>

                </div>


                <button id="submit"type="submit" class="btn btn-lg btn-dark btn-block">Registrarse</button>
              </fieldset>
            </form>
            {% if error %}
              <p style="color:red"> {{ error.mensaje }}</p>
            {% endif %}
            <p style="color:red" id="pwdAlert"></p>
          </div>
        </div>
        <br></br>
		      {% for message in messages %}

            <div id="alerta" class="alert alert-danger">
              <button id="close_alert" class="close" href="#" data-dismiss="alert">×</button>
                {{ message }}

            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="{% static 'css/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script> 
$("#close_alert").click(function (e) { 
  e.preventDefault();
  $("#alerta").hide()
  
});
</script>


<script type="text/javascript">
  $(function () {
    $.validator.addMethod('digitos', function(value, element) {
      return value.length == 4 ;
    }, "El vencimiento debe tener 4 caracteres");

    $.validator.addMethod('vencida', function(value, element) {
      
      var tarj = (value % 100); 
      var act = (new Date().getFullYear().toString().substr(-2)); 
          if (tarj < act){
              return false;
          }
          else{
            return true;
          }
    }, "La tarjeta esta vencida");
   
    $('#formulario').validate({
        rules: {
            firstName: {
                required: true
            },
            lastName: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            dni: {
               required: true,
               min: "0"
            },
            password: {
               required: true
            },
            confirmPassword: {
               required: true,
               equalTo: "#id_password"
            },
            birthDay: {
               required: true,
               date: true
            },
            numero_tarjeta: {
               required: true,
               maxlength: 16,
               minlength: 16
            },
            cardBrand: {
               required: true
            },
            fecha_vencimiento: {
               required: true,
               digitos: true,
               vencida: true
            },
            securityCode: {
               required: true,
               maxlength: 3,
               minlength: 3
            },
            nombre_tarjeta: {
               required: true
            }
        },
        messages: {
          email: {
            required: "el campo es requerido",
            email: "ingresa un email valido"
          },
          firstName: {
            required: "el campo es requerido"
          },
          lastName: {
            required: "el campo es requerido"
          },
          birthDay: {
            required: "el campo es requerido",
            date: "formato de fecha invalido"
          },
          dni: {
            required: "el campo es requerido",
            min: "no se admiten valores negativos"
          },
          fecha_vencimiento: {
            required: "el campo es requerido"
          },
          cardBrand: {
            required: "el campo es requerido"
          },
          securityCode: {
            required: "el campo es requerido",
            maxlength: "el codigo debe tener 3 digitos",
            minlength: "el codigo debe tener 3 digitos"
          },
          nombre_tarjeta: {
            required: "el campo es requerido"
          },
          numero_tarjeta: {
            required: "el campo es requerido",
            maxlength: "la tarjeta debe tener 16 digitos",
            minlength: "la tarjeta debe tener 16 digitos"
          },
          password: {
            required: "el campo es requerido"
          },
          confirmPassword: {
            required: "el campo es requerido",
            equalTo: "las contraseñas ingresadas no coinciden"
          }
        }
    });
    $('#formulario input').on('keyup blur', function () {
        if ($('#formulario').valid()) {
            $('button.btn').prop('disabled', false);
        } else {
            $('button.btn').prop('disabled', 'disabled');
        }
    });

});    
</script>
    {% comment %} <script>
    $('#id_confirmPassword').on('input', function(){
        if($('#id_confirmPassword').val() === $('#id_password').val()){
            $('#pwdAlert').hide();
            $('#submit').attr("disabled", false);
        }
        else{
            $('#pwdAlert').show().html('Las contraseñas no coinciden');
            $('#submit').attr("disabled", true);
        }
    });
    </script>

    <script>
    $('#id_cardNumber').on('input', function(){
        if($(this).val().length != 16) {
            $('#pwdAlert').show().html('El numero de tarjeta debe tener 16 digitos');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>

    
    <script type="text/javascript">
           $('#dob').datepicker({
            onSelect: function(value, ui) {
                var today = new Date(), 
                    age = today.getFullYear() - ui.selectedYear;
                if(age >= 18)
                    $('#age').text("User is 18 years old");
                else
                    $('#age').text("User is 18 not years old");
            },
            maxDate: '+0d',
            changeMonth: true,
            changeYear: true,
            yearRange: '-110:-0'
        });   
    </script>

    <script>
    $('#id_securityCode').on('input', function(){
        if($(this).val().length != 3) {
            $('#pwdAlert').show().html('El codigo de seguridad debe tener 3 digitos');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>

    <script>
    $('#id_vencimiento').on('input', function(){
        if($(this).val().length != 4) {
            $('#pwdAlert').show().html('la fecha de vencimiento debe tener 4 digitos solo numericos');
            $('#submit').attr("disabled", true);
        }
        else{
            $('#pwdAlert').hide();
            $('#submit').attr("disabled", false);
            var tarj = ($(this).val() % 100); 
            var act = (new Date().getFullYear().toString().substr(-2)); 
            if (tarj < act){
                $('#pwdAlert').show().html('la tarjeta esta vencida');
                $('#submit').attr("disabled", true);
            }
            else{
                $('#submit').attr("disabled", false);
            }
        }
        

    });
    </script>




    <script>
        $('#apellido').on('input', function(){
        if($(this).val().length == 0) {
            $('#pwdAlert').show().html('debes ingresar un apellido');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>



    <script>
        $('#email').on('input', function(){
        if($(this).val().length == 0) {
            $('#pwdAlert').show().html('debes ingresar un email');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>

    <script>
        $('#dob').on('input', function(){
        if($(this).val().length == 0) {
            $('#pwdAlert').show().html('debes ingresar una fecha de nacimiento');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>

    <script>
      $('#dni').on('input', function(){
        if($(this).val().length == 0) {
            $('#pwdAlert').show().html('debes ingresar un dni');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>

    <script>
      $('#marca_tarjeta').on('input', function(){
        if($(this).val().length == 0) {
            $('#pwdAlert').show().html('debes ingresar la marca de la tarjeta');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>

    <script>
      $('#nom_tit_tarjeta').on('input', function(){
        if($(this).val().length == 0) {
            $('#pwdAlert').show().html('debes ingresar el nombre del titular de la tarjeta');
            $('#submit').attr("disabled", true);
        }
        else{
          $('#pwdAlert').hide();
          $('#submit').attr("disabled", false);
        }
    });
    </script>


    <script>
      function nombre(){
        console.log($("#nombre").val() != "")
        return ($("#nombre").val() != "")
      }
      
      function areAllValidationPassing(){
        return nombre();
      }


      function estado_de_eventos(){
        console.log("entre")
        var cond = false;
        while (true) {
          if (areAllValidationPassing()){
            $("#submit").attr("disabled", false);
          }
          else{
            $("#submit").attr("disabled", true);
          }
        }
      }

      $(document).ready(estado_de_eventos());
    </script> {% endcomment %}
       {% comment %} $(document).ready(function() {
            var age = "";
            $('#dob').datepicker({
                onSelect: function(value, ui) {
                    var today = new Date();
                    age = today.getFullYear() - ui.selectedYear;
                    $('#age').val(age);
                },
                changeMonth: true,
                changeYear: true
            })
        }) {% endcomment %}

<script type="text/javascript">
           $('#dob').datepicker({
            onSelect: function(value, ui) {
                var today = new Date(), 
                    age = today.getFullYear() - ui.selectedYear;
                if(age >= 18)
                    $('#age').text("User is 18 years old");
                else
                    $('#age').text("User is 18 not years old");
            },
            maxDate: '+0d',
            changeMonth: true,
            changeYear: true,
            yearRange: '-110:-0'
        });   
    </script>

{% endblock %}